@import "../../assets/colors";

.custom-btn {

  .ant-btn, .ant-btn-default {
    position: relative;
    border: 2px solid $border-color-one;
    transition: .4s all ease-in-out;

    span {
      z-index: 1;
    }

    img {
      z-index: 1;
    }

    &:hover {
      box-shadow: none;
      color: $border-color-one !important;
      border-color: $border-color-one !important;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      width: 0;
      height: 100%;
      background-color: $primary-color;
      transition: .4s all ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

}